@charset "utf-8";

*
{
	margin: 0;
	padding: 0;
}

.my-navbar{
    background-color: #076797;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-weight: normal;
    font-size: x-large;
}
.post{
	height: 600px;
	
}



.logo {
  padding: 10px 10px 0 10px;
}

