@charset "utf-8";

*
{
	margin: 0;
	padding: 0;
}

.mynav{
	background-image: url("../images/navbar.jpg");
	height: 500px;
	background-size: cover
}

.navbar{
    background-color: transparent;
}

.name{
	font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 40px;
	color: #FFFFFF;
}

.nav-item {
	font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: x-large;
	color: #FFFFFF;
}

.logo {
  padding: 10px 10px 0 10px;
}

body {
	background-color: #FFFFFF;
	color: #000000; 
}

.intro{
	background-color: #D6E9FA
}

video {
  width: 100%;
  height: auto;
}


.lead {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight:600;
	font-size:large ;
	color: #FFFFFF;
}

p {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bolder;
	font-size:large ;
	color: #FFFFFF;
}

h1{
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
	text-align: center;
}

h2{
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
}

h3{
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
}

.features{
	background-color: #D6E9FA
}

.jumbotron {
	background-color: #FFFFFF;
}

.about{
	background-color: #D6E9FA;
	border-bottom: 5px solid #57AFFF;
}

.abouts{
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
}

.mission{
	background-color: #D6E9FA;
	border-right: 5px solid #57AFFF;
	border-bottom: 5px solid #57AFFF;
}

.vision{
	background-color: #D6E9FA;
	border-left: 5px solid #57AFFF;
	border-bottom: 5px solid #57AFFF;
}

.testimonials{
	background-color: #D6E9FA;
}

.anja{
	border-right: 5px solid #57AFFF;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bolder;
	font-size:large ;
	color: #FFFFFF;
}

.susan{
	border-right: 5px solid #57AFFF;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bolder;
	font-size:large ;
	color: #FFFFFF;
}

.peter{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bolder;
	font-size:large ;
	color: #FFFFFF;
}

.benefit{
	background-color: #D6E9FA;
}

.benefits{
	background-color: #D6E9FA;
	border-left: 5px solid #57AFFF;
}

.facts{
	background-color: #D6E9FA;
	border-left: 5px solid #57AFFF;
	border-right: 5px solid #57AFFF;
}
footer{
	background-color: #D6E9FA;
}

.logos{
	height:100px;
}